* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

header, main {
  width: 100%; }

header {
  padding: 25px 0;
  background: url(../img/header_bg.jpg) no-repeat;
  background-size: 100% 100vh; }
  header .header_top-row {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #db862a; }
  header .header-content {
    max-width: 1200px;
    margin: 0 auto; }
    header .header-content .header_menu {
      display: flex;
      justify-content: space-between;
      color: #fff; }
      header .header-content .header_menu .header_menu_logo {
        font-weight: 700; }
        header .header-content .header_menu .header_menu_logo .header-logo {
          margin-left: -5px;
          color: #c88c1b; }
      header .header-content .header_menu .header_menu_nav {
        display: flex;
        margin-top: 5px; }
        header .header-content .header_menu .header_menu_nav .menu-nav {
          font-size: 13px;
          margin: 0 30px;
          margin-bottom: 10px;
          border-bottom: 1px solid transparent; }
          header .header-content .header_menu .header_menu_nav .menu-nav .menu_nav-link {
            color: #fff;
            text-decoration: none; }
        header .header-content .header_menu .header_menu_nav .menu-nav:hover {
          border-bottom: 1px solid #db862a; }
      header .header-content .header_menu .header_menu_tel {
        font-size: 16px;
        font-weight: 600; }
    header .header-content .header_info {
      margin: 150px 0;
      width: 50%;
      color: #fff; }
      header .header-content .header_info .header_info_plus {
        color: #db862a;
        font-size: 14px;
        font-weight: 700; }
      header .header-content .header_info .header_info_text-head {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 55px;
        margin-bottom: 35px; }
      header .header-content .header_info .header_info_text {
        font-size: 14px; }
      header .header-content .header_info .header_info_button {
        display: inline-block;
        width: 205px;
        border: 2px solid #db862a;
        border-radius: 3px;
        text-align: center;
        line-height: 38px;
        margin: 35px 20px 0 0;
        background-color: transparent; }
        header .header-content .header_info .header_info_button .header_info_button-link {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          font-weight: 700; }
        header .header-content .header_info .header_info_button .header_info_button-link:hover {
          text-decoration: underline; }

main .section1 {
  max-width: 1200px;
  margin: 0 auto; }
  main .section1 .section1.title {
    text-align: center;
    padding: 0 200px; }
    main .section1 .section1.title .section1_title-head {
      margin: 65px 0 15px;
      font-size: 40px;
      font-weight: 700; }
    main .section1 .section1.title .section1_title-par {
      color: #848484;
      font-size: 14px;
      font-weight: 600; }
  main .section1 .section1_items {
    margin-top: 35px;
    overflow: hidden; }
    main .section1 .section1_items .section1_items_block {
      float: left;
      width: 25%; }
      main .section1 .section1_items .section1_items_block .item-img {
        display: block;
        margin-left: auto;
        margin-right: auto; }
      main .section1 .section1_items .section1_items_block .item-img:hover {
        cursor: pointer; }
      main .section1 .section1_items .section1_items_block .items_content {
        text-align: center; }
        main .section1 .section1_items .section1_items_block .items_content .items_content_head {
          margin: 25px 0; }
          main .section1 .section1_items .section1_items_block .items_content .items_content_head .items_content-head {
            font-size: 14px;
            font-weight: 700; }
        main .section1 .section1_items .section1_items_block .items_content .items_content-body {
          font-size: 12px;
          color: #848484; }

main .bg {
  margin-top: 90px;
  overflow: hidden;
  background-color: #a96317; }
  main .bg img {
    width: 50%;
    height: 90%;
    float: right; }
  main .bg .section2 {
    max-width: 1200px;
    margin: 0 auto; }
    main .bg .section2 .section2_info {
      margin-top: 85px;
      width: 50%; }
      main .bg .section2 .section2_info .section2_info_plus {
        color: #db862a;
        font-size: 14px;
        font-weight: 700; }
      main .bg .section2 .section2_info .section2_info_text-head {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        margin: 15px 0 35px; }
      main .bg .section2 .section2_info .section2_info_text {
        font-size: 14px;
        line-height: 30px;
        color: #fff4e1; }
      main .bg .section2 .section2_info .info_text_list .info_text_list-item {
        color: #ec9f04;
        font-size: 14px;
        line-height: 30px; }
        main .bg .section2 .section2_info .info_text_list .info_text_list-item span {
          color: #fff4e1; }
      main .bg .section2 .section2_info .header_info_button {
        margin-top: 20px;
        width: 200px;
        background-color: #ec9f04;
        border: none;
        border-radius: 3px;
        padding: 15px 0; }
        main .bg .section2 .section2_info .header_info_button .section2_info_button-link {
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          color: #fff; }
      main .bg .section2 .section2_info .header_info_button:hover {
        opacity: 0.7;
        cursor: pointer; }

@media screen and (max-width: 992px) {
  main .bg img {
    width: 100%;
    float: none; }
  main .bg .section2 {
    padding-left: 15px; }
    main .bg .section2 .section2_info {
      width: 100%; } }

@media screen and (max-width: 768px) {
  header .header-content .header_info {
    width: 100%; }
  main .section1 .section1_items {
    margin-top: 0; }
    main .section1 .section1_items .section1_items_block {
      width: 50%;
      margin-top: 20px; }
  main .bg .section2 .section2_info {
    margin-top: 40px;
    margin-bottom: 30px; } }

@media screen and (max-width: 320px) {
  header .header-content {
    padding-left: 10px; }
    header .header-content .header_menu {
      flex-direction: column; }
      header .header-content .header_menu .header_menu_nav {
        flex-direction: column; }
        header .header-content .header_menu .header_menu_nav .menu-nav {
          margin-left: 0;
          width: 31%; }
    header .header-content .header_info {
      margin: 25px 0; }
      header .header-content .header_info .header_info_text-head {
        font-size: 27px;
        margin: 15px 0; }
      header .header-content .header_info .header_info_button {
        margin-top: 20px; }
  main .section1 .section1.title {
    padding: 0; }
    main .section1 .section1.title .section1_title-head {
      font-size: 30px; }
  main .section1 .section1_items {
    margin-top: 0; }
    main .section1 .section1_items .section1_items_block {
      width: 100%; }
  main .bg .section2 .section2_info .section2_info_text-head {
    margin-bottom: 20px;
    font-size: 25px; } }
