<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
body
	header
		.header_top-row
		.header-content
			.header_menu
				.header_menu_logo Euro 
					span.header-logo Travel
				.header_menu_nav
					.menu-nav 
						a(href="#" class="menu_nav-link") О КОМПАНИИ
					.menu-nav 
						a(href="#" class="menu_nav-link") ГАЛЕРЕЯ
					.menu-nav 
						a(href="#" class="menu_nav-link") БЛОГ
					.menu-nav 
						a(href="#" class="menu_nav-link") КЛИЕНТЫ
				.header_menu_tel 0 800 124-56-78
			.header_info
				.header_info_plus НАШИ ПЛЮСЫ
				.header_info_text-head Профессионализм И лучшие цены
				.header_info_text Мы онлайн сервис по выбору и покупке страховки для путешествия. Он помогает подобрать оптимальный вариант страхования, сравнить предложения крупнейших страховых компаний.
				button.header_info_button 
					a(href="#" class="header_info_button-link") Написать нам
				button.header_info_button 
					a(href="#" class="header_info_button-link") Читать дальше
	
	main
		section.section1
			.section1.title
				.section1_title-head Наши преимущества
				.section1_title-par Мы онлайн сервис по выбору и покупке страховки для путешествия. Он помогает подобрать оптимальный вариант страхования, сравнить предложения.
			.section1_items
				.section1_items_block
					img(src="img/main_icon1.png", alt="" class="item-img")
					.items_content
						.items_content_head
							p.items_content-head Сравните цены<br>на туры 34 операторов
						p.items_content-body Мы работаем напрямую<br>с крупными мировыми<br>производителями техники
				.section1_items_block
					img(src="img/main_icon2.png", alt="" class="item-img")
					.items_content
						.items_content_head
							p.items_content-head Миллионы других<br>туров в поиске
						p.items_content-body Мы работаем напрямую<br> с крупными мировыми<br>производителями техники
				.section1_items_block
					img(src="img/main_icon3.png", alt="" class="item-img")
					.items_content
						.items_content_head
							p.items_content-head Ищем туры среди<br>34 туроператоров 
						p.items_content-body Мы работаем напрямую<br> с крупными мировыми<br>производителями техники
				.section1_items_block
					img(src="img/main_icon4.png", alt="" class="item-img")
					.items_content
						.items_content_head
							p.items_content-head Горящие путевки<br>и горящие туры
						p.items_content-body Мы работаем напрямую<br>с крупными мировыми<br>производителями техники
		section.bg
			img(src="img/section2_img.jpg", alt="")
			.section2
				.section2_info
					.section2_info_plus НАШИ ПЛЮСЫ
					.section2_info_text-head Выбор кредитных программ <br>и прием платежей
					.section2_info_text Мы работаем напрямую с крупнейшими мировыми производителями цифровой техники и предлагаем нашим клиентам 
					ul.info_text_list
						li.info_text_list-item 
							span Мы работаем напрямую с крупнейшими производителями 
						li.info_text_list-item 
							span Можно заказать нужный товар в интернет-магазине
						li.info_text_list-item 
							span Техники и предлагаем нашим клиентам сертифицированную продукцию
					button.header_info_button 
						a(href="#" class="section2_info_button-link") Написать нам
			